*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a{
   text-decoration: none;
}
#header{
   background-color: #0E5AF2;
}
header .header-box p{
   color: white;
   font-size: 20px;
   margin: 0;
}
.header{
   padding: 12px;
}
.logo img{
   width: 70%;
}
.logo{
   width: 20%;
}
.header-all .box{
   display: flex;
   align-items: center;
}
.icon i{
   margin-right: 10px;
   font-size: 25px;
   color: blue;
}
.header-all{
   padding-top: 2rem;
}
.contact a{
   color: #000;
   font-size: 20px;
   font-weight: bolder;
}
.contact a:hover{
   color: blue;
}
.contact p{
   color: #5559A1;
}
.test .boxs p{
   margin: 0;
}

/* navbar */

nav
{
padding-top: 2rem
}

ul{
   list-style: none;
   display: flex;
   align-items: center;
   padding: 0;
}
li{
   padding-left: 10px;
   font-size: 20px;
   font-weight: bolder;
}
button{
   border: none;
   padding: 10px;
   background-color: #0E5AF2;
   color: white;
   border-radius: 0px 5px 5px 0px;
}
button:hover{
   background-color: #000;
}
form input{
   height: 42px;
}


/* caro */
.slider{
   position: relative;

}
.slide-1{
   background: url("/photos/photo1.jpg");
}
.slide-2{
   background: url("/photos/photo2.jpg");
}
.slide-3{
   background: url("/photos/photo3.jpg");
}
.slide{
   width: 100%;
   height: 80vh;
   background-size: cover;
   background-position: center;
   overflow: hidden;
   position: relative;
}
.caption{
   width: 100%;
   position: absolute;
   top: 40%;
   left: 20%;
   font-weight: bold;
}
.caption h4{
   color: #fff;
   font-size: 45px;
   width: 35%;
}
.caption p{
   color: #fff;   
   border: 1px solid white;
   padding: 5px 15px;
   border-radius: 7px;
   width: 16%;
}
.arrow{
   position: absolute;
   top: 50%;
   z-index: 100;
   color: #fff;
}
.next{
   position: absolute;
   right: 50px;
   font-size: 30px;
   border: 1px solid white;
   padding: 10px;
   border-radius: 50px;
}
.prev{
   position: absolute;
   left: 50px;
   font-size: 30px;
   border: 1px solid white;
   padding: 10px;
   border-radius: 50px;
}
.sl-bt-1{
   padding: 20px 30px;
   background-color: blue;
   color: white;
   border-radius: 5px;
}
.sl-bt-2{
   padding: 20px 30px;
   background-color: white;
   color: blue;
   border-radius: 5px;
   margin-left: 15px;
}
.sl-bt-1:hover{
   color: white;
   background-color: #000;
   transition: all ease 0.4s;
}
.sl-bt-2:hover{
   color: white;
   background-color: #000;
   transition: all ease 0.4s;
}